class Restaurant():
    def __init__(self, restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type

    def describe_restaurant(self, age , location):
        self.age = age
        self.location = location
        
    def open_restaurant(self):
        print(self.restaurant_name.title() + " is now opening.")

odessa = Restaurant("odessa", "euro")
print("Restaurant name is " + odessa.restaurant_name.title() + ".")
odessa.open_restaurant()
# odessa.describe_restaurant(6,"uk")
# print("Restaurant age is " + str(odessa.age()) + ".")

In [11]:
class Restaurant():
    def __init__(self, restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type

    def describe_restaurant(self, age , location):
        self.age = age
        self.location = location
        
    def open_restaurant(self):
        print(self.restaurant_name.title() + " is now opening.")

odessa = Restaurant("odessa", "euro")
print("Restaurant name is " + odessa.restaurant_name.title() + ".")
odessa.open_restaurant()
odessa.describe_restaurant(6, "uk")
print("Restaurant age is " + str(odessa.age) + ".")

Restaurant name is Odessa.
Odessa is now opening.
Restaurant age is 6.

In [ ]:
nested_list = [['Apple', 'Banana'], ['Banana', 'Strawberry', 'Kiwi'], ['Orange', 'Apple']]

unique_words = set()

for elem in list

In [14]:
word_list = [‘Apple’, ‘Banana’, ‘Strawberry’, ‘Kiwi’, ‘Orange’]
word_list_new =[]
for i in sorted(word_list):
    if len(i) < 4:
    word_list_new.append(i)
word_list_new

SyntaxError: invalid character '‘' (U+2018) (312225006.py, line 1)

In [19]:
word_list = ['Apple', 'Banana', 'Strawberry', 'Kiwi', 'Orange']
word_list_new = []

for word in sorted(word_list):
    if len(word) <= 4:
        word_list_new.append(word)
    if word.startwith("B"):
        word_list_new.append(word)

print(word_list_new)

AttributeError: 'str' object has no attribute 'startwith'

In [20]:
word_list = ['Apple', 'Banana', 'Strawberry', 'Kiwi', 'Orange']
word_list_new = []

for word in sorted(word_list):
    if len(word) <= 4:
        word_list_new.append(word)
    elif word.startswith("B"):
        word_list_new.append(word)

print(word_list_new)

['Banana', 'Kiwi']

In [23]:
input_list = [1, 2, 3, 4, 5, 6]
list_new = []
for i in input_list:
    if i%2 == 0:
        list_new.append(i**2)
    
list_new

[4, 16, 36]

In [24]:
input_list = [1, 2, 3, 4, 5, 6]
list_new = [i**2 for i in input_list: if i%2 == 0]
    
list_new

SyntaxError: invalid syntax (2152449594.py, line 2)

In [25]:
input_list = [1, 2, 3, 4, 5, 6]
list_new = [i ** 2 for i in input_list if i % 2 == 0]

print(list_new)

[4, 16, 36]

In [ ]:
#Given is a list of numbers. 
#Convert each number to its binary representation and remove any numbers whose binary representation contains more than 3 ones. Ensure all changes are made directly to the original list and verify this by ensuring the id() of the list remains unchanged.


number_list = [245, 532, 17, 789, 321, 874, 99, 450, 666, 123] 
# Expected output: [532, 17, 321]

In [26]:
list = list(range(1,100))
list_new = []
for i**2 in list:
    if i[-1] == 9:
        list_new.append(i**2)
list_new

SyntaxError: cannot assign to expression (72560157.py, line 3)

In [36]:
original_list = list(range(1, 100))
new_list = []

for i in original_list:
    if str(i**2)[-1] == '9' or  bin(i ** 2)[-5:] == '00011' or a in hex(i**2) :  
        new_list.append(i ** 2)



print(new_list)

[9, 49, 169, 289, 529, 729, 1089, 1369, 1849, 2209, 2809, 3249, 3969, 4489, 5329, 5929, 6889, 7569, 8649, 9409]

In [30]:
original_list = list(range(1, 100))
new_list = []

for i in original_list:
    if str(i)[-1] == '3':
        new_list.append(i ** 2)
    elif bin(i ** 2)[-2:] == '11':  # Check if the last two characters of the binary representation are '11'
        new_list.append(i)

print(new_list)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2725932419.py, line 7)

In [31]:
original_list = list(range(1, 100))
new_list = []

for i in original_list:
    if str(i)[-1] == '3':
        new_list.append(i ** 2)
    elif bin(i ** 2)[-4:] == '0011':  # Check if the last two characters of the binary representation are '11'
        new_list.append(i**2)

print(new_list)

[9, 169, 529, 1089, 1849, 2809, 3969, 5329, 6889, 8649]

In [35]:
original_list = list(range(1, 100))
new_list = []

for i in original_list:
    if bin(i ** 2)[-5:] == '00011':  
        new_list.append(i ** 2)

print(new_list)

[]

In [40]:
original_list = list(range(1, 100))
new_list = []

for i in original_list:
    square = i ** 2
    if square%10 == '9' or bin(square)[-2:] == '11' or 'a' in hex(square):
        new_list.append(square)

print(new_list)

[169, 676, 1444, 2209, 2601, 2704, 2809, 6561, 6724, 6889, 8100]

In [41]:
original_list = list(range(1, 100))
new_list = []

for i in original_list:
    square = i ** 2
    if square % 10 == 9 or bin(square)[-2:] == '11' or 'a' in hex(square):
        new_list.append(square)

print(new_list)

[9, 49, 169, 289, 529, 676, 729, 1089, 1369, 1444, 1849, 2209, 2601, 2704, 2809, 3249, 3969, 4489, 5329, 5929, 6561, 6724, 6889, 7569, 8100, 8649, 9409]

In [ ]:
number_list = [245, 532, 17, 789, 321, 874, 99, 450, 666, 123]
original_id = id(number_list)

for num in number_listinput_list = [1, 2, 3, 4, 5, 6]

# Reverse the list
input_list.reverse()

# Increase all even numbers by 1
for i in range(len(input_list)):
    if input_list[i] % 2 == 0:
        input_list[i] += 1

print(input_list):
    binary_representation = bin(num)[2:]  # Получаем двоичное представление числа, исключая префикс '0b'
    count_ones = binary_representation.count('1')
    if count_ones > 3:
        number_list.remove(num)

# Проверяем, что id() списка осталось прежним
assert id(number_list) == original_id

print(number_list)

In [42]:
input_list = [1, 2, 3, 4, 5, 6]

input_list.reverse()
for i in range(len(input_list)):
    if input_list[i] % 2 == 0:
        input_list[i] += 1

print(input_list)

[7, 5, 5, 3, 3, 1]

In [ ]:

6. You have two sorted lists of words. Use a For-Loop to concatenate the lists, ensuring that the algorithm creates a sorted overall list.

    
Example: python list1 = ['Apple', 'Banana', 'Kiwi'] list2 = ['Strawberry', 'Orange', 'Peach'] # Expected output: ['Apple', 'Banana', 'Kiwi', 'Orange', 'Peach', 'Strawberry']

In [49]:
list1 = ['Apple', 'Banana', 'Kiwi']
list2 = ['Strawberry', 'Orange', 'Peach']

new_list = [list1 + list2]
# for word in list1:
#     new_list.append(word)
# for word in list2:
#     new_list.append(word)
sorted_list = sorted(new_list)

print(sorted_list)

[['Apple', 'Banana', 'Kiwi', 'Strawberry', 'Orange', 'Peach']]

In [ ]:

To find the largest and smallest numbers in the list num_list without using the built-in functions min(), max(), or sorting methods, you can manually iterate through the list and keep track of the largest and smallest numbers encountered so far. Here's how you can do it:

python
Copy code
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Initialize variables to store the largest and smallest numbers
largest = num_list[0]
smallest = num_list[0]

# Iterate through the list to find the largest and smallest numbers
for num in num_list:
    if num > largest:
        largest = num
    elif num < smallest:
        smallest = num

print("Largest number:", largest)
print("Smallest number:", smallest)

# Проходим по списку с помощью enumerate() и удваиваем значение каждого третьего элемента
for index, value in enumerate(num_list):
    if (index + 1) % 3 == 0:  # Проверяем, является ли текущий элемент третьим
        num_list[index] *= 2  # Удваиваем значение текущего элемента

print(num_list)

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for index, value in enumerate(num_list):
    if (index + 1) % 3 == 0: 
        
        num_list[index] *= 2 
print(num_list)  # Ожидаемый результат: [1, 2, 6, 4, 5, 12, 7, 8, 18]

In [51]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Initialize variables to store the largest and smallest numbers
largest = num_list[0]
smallest = num_list[0]

# Iterate through the list to find the largest and smallest numbers
for num in num_list:
    if num > num_list[0]:
        num_list = 
    elif num < num_list[0]:
        num_list = num

print("Largest number:", lnum_list)
print("Smallest number:", num_list)

TypeError: 'int' object is not subscriptable